#quadrato{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
}

#quadrato.top-left{
  transition: 1s all;
  top: 30vh;  /*vh rappresenta percentuale dello schermo(?)*/
  left: 30vh;
  background-color: blue;
}

#quadrato.top-right{
  transition: 1s all;
  top: 30vh;
  left: 60vh;
  background-color: green;
}

#quadrato.bottom-right{
  transition: 1s all;
  top: 60vh;
  left: 60vh;
  background-color: yellow;
}

#quadrato.bottom-left{
  transition: 1s all;
  top: 60vh;
  left: 30vh;
}
